:root {
  --contrast: 100%;
  --brightness: 100%;
  --saturation: 100%;
  --blur: 0px;
}

body{
  text-align: center;
  background-color: #035675;
  color: #edd30e;
  font-size: 2.0rem;
  font-family: arial;
}

.controls{
  margin-bottom: 25px;
}

input{
  width: 100px;
}

#ima{
  max-width: 900px;
  max-height: 600px;
  filter: contrast(var(--contrast))
  brightness(var(--brightness))
  saturate(var(--saturation))
  blur(var(--blur))
}
